<h1 align="center">Hey, Read About our Rings</h1>

<% @reviews_list = @reviews.uniq %>
<ul>
<% @reviews_list.each do |review| %>
<li>
<h3><%= review.location %></h3>
<h5><%= review.date %></h5>
<p><%= review.review %></p>
<p>---submitted by <%=review.user.name%></p>
<hr>
</li>
<%end%>
</ul>
