<h1>Share your Rings Opinions</h1>
<form method="POST" action="/new">
  <label>Location of Rings</label><input type="text" name="location">
  <label>Review</label><input type="text" name="review">
  <input type="submit">
</form>
