<h1>Check out this review</h1>

<h4><%=@review.location%></h4>
<p><%=@review.review%></p>

<% if @review.user.name == current_user.name %>
<a href="/reviews/<%=@review.id%>/edit">Edit</a>
<form method="post" action="/reviews/<%=@review.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Review">
</form>
<%end%>
