<h1>Welcome to Onion Rings Group for Yonc!</h1>
<a href="/reviews"><h3> Rings Reviews </h3></a>
<form action="/login" method="POST">
  <label>Name<label><input type="text" name="name">
    <label>Password</label><input type="password" name="password">
    <input type="submit" value="login">
</form><br>
<a href="/signup">   Sign Up   </a>
